<div>
  <table class="legend">
    {% if user_is_admin %}
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Severity  </th>
      </tr>
    </thead>
    {% endif %}
    
    <tbody id="legend-body">
    </tbody>
  </table>
  
  {% if user_is_admin %}
    <a id="add-status" class="button" href="#">Add New Status</a>
    
    <div id="add-status-modal" class="dialog" title="Add New Status">
      <label class="side-label" for="status-name">Name</label>
      <input type="text" id="status-name"name="status-name">
      
      <label class="side-label" for="status-severity">Severity</label>
      <input type="text" id="status-severity" name="status-severity">
      
      <label for="status-image">Image</label>
      {% for image_row in common_statuses %}
        <div>
        {% for image in image_row %}
        
        <input type="radio" name="status-image" value="{{ image }}" {% if forloop.first %}checked{%endif%}>
        <img src="/static/images/status/{{ image }}.png" />
        {% endfor %}
        </div>
        
      {% endfor %}

      <label for="status-description">Description</label>
      <textarea
        id="status-description" name="status-description"></textarea>
    </div>
  {% endif %}
  
  <script type="text/javascript">
  
  var createStatusRow = function(data){
    var tr = $("<tr />");
    
    $("<td />", {"class": "icon"}).append(
      $("<img />", {
        src: data.image,
        alt: data.name
      })
    ).appendTo(tr);
    
    $("<td />", {text: data.description}).appendTo(tr);
    
    {% if user_is_admin %}
    $("<td />", {text: data.severity}).appendTo(tr);
    {% endif %}
    
    $("#legend-body").append(tr);
  }
  
  $(document).ready(function(){
    
    $.ajax({ 
      type: "GET",
      url: "/api/v1/statuses",
      dataType: 'json', 
      success: function(data){ 
        
        var statuses = data.statuses;
        
        for (var i=0; i < statuses.length; i++) {
          createStatusRow(statuses[i]);
        };
        
        },
      error: function(){ 
        
        },
      });
    
    $("#add-status-modal").dialog({
          height: 515,
          width: 460,
          resizable: false,
          modal: true,
          autoOpen: false,
          buttons: {
            'Create Status': function(){
              $.ajax({ 
                type: "POST",
                url: "/api/v1/statuses",
                data: { 
                  name: $("#status-name").val(), 
                  description: $("#status-description").val(),
                  image: $("input[name=status-image]:checked").val(),
                  severity: $("#status-severity").val()
                },
                dataType: 'json', 
                context: $(".legend").children('tbody'), 
                success: function(data){ 
                  $("#add-status-modal").dialog('close');
                  createStatusRow(data);
                },
                error: function(){ 
                  $("#add-status-modal").dialog('close');
                },
              });
                
            },
            'Cancel': function(){
              $(this).dialog('close');
            }
          }
    });
    
    $(".delete-status").live('click', function(event){
      event.preventDefault();
      $.ajax({ 
        type: "DELETE",
        data: {},
        url: $(this).attr("href"), 
        context: $(this).parent().parent(), 
        success: function(){
              $(this).fadeOut('fast', function(){
                $(this).remove();
              });
            },
        error: function(){
              alert("CRAP");
            },
        });
    });
    
  });
  </script>
</div>