<!DOCTYPE>
<html>
  <head>
    <title>Is My Web Service Up?</title>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="/static/css/jqueryui.css" type="text/css" media="screen" />    
    <!-- <script type="text/javascript"      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> -->
    <script type="text/javascript" src="/static/js/local-jquery.js"></script>
    <script type="text/javascript" src="/static/js/local-jquery-ui.js"></script>
    <script type="text/javascript">
    //Global Script
    $(document).ready(function(){
      $(".button").button();
    });
    </script>
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/"><h1 id="logo"><img src="/images/logo.png" alt="Status Dashboard"/></h1></a>
        <h2>Status Dashboard</h2>
        <a id="rest-docs" href="documentation" class="button">
          REST API Documentation
        </a>
      </div>
      <div id="content">
        {% block content %}
          
        {% endblock %}
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <ul class="left">
        <li>
          {% if user %}
            <a href="{{ login_link }}">Logout</a>
          {% else %}
            <a href="{{ login_link }}">Login</a>
          {% endif %}
        </li>
        <li>-</li>
        <li>Copyright (c)  {% now "Y" %}</li>
      </ul>
      <ul class="right">
        <li>Icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a></li>
      </ul>
    </div>
    {% block js_end %}
    {% endblock %}
  </body>
</html>