{% extends "base.html" %}

{% block content %}

  <div class="frame" id="documentation">
    
    <nav>
      <ul>
        <li {% if overview_selected %} class="selected" {% endif %}>
          <a href="/documentation/overview">Overview</a></li>
          
        <li {% if rest_selected %} class="selected" {% endif %}>
          <a href="/documentation/rest">REST API</a></li>
          
        <li {% if example_selected %} class="selected" {% endif %}>
          <a href="/documentation/examples">Examples</a></li>
        
        <li {% if credentials_selected %} class="selected" {% endif %}>
          <a href="/documentation/credentials">API Credentials</a></li>
        
      </ul>
    </nav>
    
    <div>
      
      {% block document %}
      
      {% endblock %}
      
    </div>
    
    <script type="text/javascript">
    $("code").addClass("prettyprint");
    prettyPrint();
    </script>
    
  </div>

{% endblock %}