{% extends "documentation.html" %}
{% block document %}
<div id="examples"
><h2
  >Examples</h2
  ><p
  >The following examples will use the StashBoard REST API to create a service, create a status, and then create an event with the new status for the new service. Sample code is provided for Python, Ruby, and PHP.</p
  ><p
  >If you haven't already, head over to the <a href="/documentation/credentials"
    >API Credentials section</a
    > to obtain your API key. Please note that you must be an administrator to make changes via the REST API.</p
  ><div id="python"
  ><h3
    >Python</h3
    ><p
    >This example uses the great <a href="http://github.com/simplegeo/python-oauth2"
      >python-oauth2</a
      > library by Leah Culver.</p
    ><pre
    ><code
      >import oauth2 as oauth
import json
import urllib
from random import choice

oauth_key = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
oauth_secret = 'YYYYYYYYYYYYYYYYYYYYYYYY'

# Create your consumer with the proper key/secret.
# If you register your application with google, these values won't be
# anonymous and anonymous. 
consumer = oauth.Consumer(key='anonymous', secret='anonymous')
token = oauth.Token(oauth_key, oauth_secret)

# Fill in your website
base_url = &quot;https://stashboard.appspot.com/api/v1&quot;

# Create our client.
client = oauth.Client(consumer, token=token)

data = urllib.urlencode({
    &quot;name&quot;: &quot;An Example Service&quot;,
    &quot;description&quot;: &quot;An example service, created using the StashBoard API&quot;,
})

# The OAuth Client request works just like httplib2 for the most part.

# POST to the Services Resource to create a new service. Save the response for
# later
resp, content = client.request(base_url + &quot;/services&quot;, &quot;POST&quot;, body=data)
service = json.loads(content)

# GET the list of possible status images
resp, content = client.request(base_url + &quot;/status-images&quot;, &quot;GET&quot;)
data = json.loads(content)
images = data[&quot;images&quot;]

# Pick a random image for our status
image = choice(images)

# POST to the Statuses Resources to create a new Status
data = urllib.urlencode({
    &quot;name&quot;: &quot;Example Status&quot;,
    &quot;description&quot;: &quot;An example status, means nothing&quot;,
    &quot;severity&quot;: 10000,
    &quot;image&quot;: image[&quot;name&quot;],
})

resp, content = client.request(base_url + &quot;/statuses&quot;, &quot;POST&quot;, body=data)
status = json.loads(content)

# Create a new event with the given status and given service
data = urllib.urlencode({
    &quot;message&quot;: &quot;Our first event! So exciting&quot;,
    &quot;status&quot;: status[&quot;id&quot;],
})

resp, content = client.request(service[&quot;url&quot;] + &quot;/events&quot;, &quot;POST&quot;, body=data)
event = json.loads(content)

print event
</code
      ></pre
    ></div
  ><div id="ruby"
  ><h3
    >Ruby</h3
    ><p
    >Before you can run this example, make sure to install the <a href="http://github.com/pelle/oauth"
      >oauth Ruby Gem</a
      >.</p
    ><pre
    ><code
      >require 'rubygems'
require 'oauth'
require 'json'

oauth_key = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
oauth_secret = 'YYYYYYYYYYYYYYYYYYYYYYYY'

# Fill in your website
base = &quot;https://stashboard.appspot.com&quot;

@consumer=OAuth::Consumer.new &quot;anonymous&quot;, 
                              &quot;anonymous&quot;,
                              {:site=&gt;base}

@token = OAuth::AccessToken.new(@consumer, oauth_key, oauth_secret)

# POST to the Services Resource to create a new service. Save the response for
# later
@response = @token.post(&quot;/api/v1/services&quot;, {
    :name =&gt; &quot;An Example Service&quot;,
    :description =&gt; &quot;An example service, created using the StashBoard API&quot;,
})
srvice = JSON.parse(@response.body)

# GET the list of possible status images
@response = @token.get(&quot;/api/v1/status-images&quot;)
data = JSON.parse(@response.body)
images = data['images']

# Pick a random image for our status
image = images[rand(images.length)]


# POST to the Statuses Resources to create a new Status
@response = @token.post(&quot;/api/v1/statuses&quot;, {
    :name =&gt; &quot;Example Status&quot;,
    :description =&gt; &quot;An example status, means nothing&quot;,
    :severity =&gt; 10000,
    :image =&gt; image[&quot;name&quot;],
})

status = JSON.parse(@response.body)

@response = @token.post(&quot;/api/v1/services/&quot; + srvice[&quot;id&quot;] + &quot;/events&quot;, {
    :message =&gt; &quot;Our first event! So exciting&quot;,
    :status =&gt; status[&quot;id&quot;],
})
event = JSON.parse(@response.body)

puts event
</code
      ></pre
    ></div
  ><div id="php"
  ><h3
    >PHP</h3
    ><p
    >This example uses Andy Smith's great <a href="http://oauth.googlecode.com/svn/code/php/"
      >basic OAuth library</a
      > for URL signing. You must also have the cURL extension enabled for this code to run.</p
    ><pre
    ><code
      >&lt;?php

  require_once('OAuth.php');

  $consumer_key = 'anonymous';
  $consumer_secret = 'anonymous';
  $oauth_key = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
  $oauth_secret = 'YYYYYYYYYYYYYYYYYYYYYYYY'

  $consumer = new OAuthConsumer($consumer_key, $consumer_secret);
  $token = new OAuthToken($oauth_key, $oauth_secret);


  // Set up a request function  
  function request($consumer, $token, $url, $method = &quot;GET&quot;, $data = null){

    $sign = new OAuthSignatureMethod_HMAC_SHA1();
    $request = OAuthRequest::from_consumer_and_token(
      $consumer, $token, $method, $url, $data);
    $request-&gt;sign_request($sign, $consumer, $token);

    $ch = curl_init($request-&gt;get_normalized_http_url());

    if ($method == &quot;POST&quot;) {
      curl_setopt($ch, CURLOPT_POST ,1);
      curl_setopt($ch, CURLOPT_POSTFIELDS , $request-&gt;to_postdata());
    }

    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($ch, CURLOPT_FOLLOWLOCATION ,1);
    curl_setopt($ch, CURLOPT_HEADER ,0);  // DO NOT RETURN HTTP HEADERS

    return curl_exec($ch);
  }

  // Fill in your website
  $base_url = &quot;https://stashboard.appspot.com/api/v1&quot;;

  $data = array(
      &quot;name&quot; =&gt; &quot;An Example Service&quot;,
      &quot;description&quot; =&gt; &quot;An example service, created using the StashBoard API&quot;,
  );

  $r = request($consumer, $token, $base_url . &quot;/services&quot;, &quot;POST&quot;, $data);
  $service = json_decode($r);

  // GET the list of possible status images
  $r = request($consumer, $token, $base_url . &quot;/status-images&quot;, &quot;GET&quot;);
  $data = json_decode($r);
  $images = $data-&gt;images;



  // Pick a the first image
  $image = $images[0];

  // POST to the Statuses Resources to create a new Status
  $data = array(
     &quot;name&quot; =&gt; &quot;Example Status&quot;,
     &quot;description&quot; =&gt; &quot;An example status, means nothing&quot;,
     &quot;severity&quot; =&gt; 10000,
     &quot;image&quot; =&gt; $image-&gt;name,
  );

  $r = request($consumer, $token, $base_url . &quot;/statuses&quot;, &quot;POST&quot;, $data);
  $status = json_decode($r);

  // Create a new event with the given status and given service
  $data = array(
     &quot;message&quot; =&gt; &quot;Our first event! So exciting&quot;,
     &quot;status&quot; =&gt; $status-&gt;id,
  );

  $r = request($consumer, $token, $service-&gt;url . &quot;/events&quot;, &quot;POST&quot;, $data);
  $event = json_decode($r);

  print_r($event);

?&gt;
</code
      ></pre
    ></div
  ></div
>

{% endblock %}
