{% extends "base.html" %}

{% block js_end %}
    <script type="text/javascript">
      $(document).ready(function(){
        stashboard.fillIndex();
      });
    </script>
{% endblock %}

{% block content %}

      <div id="webservices" class="frame">
        
          <table id="service-list">
            <thead>
              <tr>
                <th>Service</th>
                <th class="today">Current</th>
            </thead>

            <tbody id="services-body">
            </tbody>
          </table>
        
        {% if user_is_admin %}
          <a id="add-service" class="button" href="#">Add New Service</a>
        {% endif %}
        
        {% include "_legend.html" %}
        
      </div>
      
      {% if user_is_admin %}
      
      <div class="dialog" id="add-service-modal" title="Add New Service">
        <label  for="service-name">Name</label>
        <input type="text" id="service-name"name="service-name">
        <label for="service-description">Description</label>
        <textarea
          id="service-description" name="service-description"></textarea>
      </div>
      
      {% endif %}
      
      
{% endblock %}

