{% extends "base.html" %}

{% block js_end %}
    <script type="text/javascript">
      var currentNow = new Date();
      var d = new Date(currentNow.getTime() - 86400000);
      var thead = $("#service-list thead tr");
      
      for (var i=0; i < 5; i++) {
        $("<th />", {
          "class": "date",
          text: (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear()
        }).appendTo(thead);
        var d = new Date(d.getTime() - 86400000);
      }
    
      var createServiceRow = function(data, fetchStatuses){
        informationImage = "/images/status/question-white.png";
                
        var tr = $('<tr />', {id: data.id});
        
        $('<td />').append(
          $('<a />', {
            href: 'services/' + data.id,
            text: data.name
          })
        ).appendTo(tr);
        
        $('<td />', {"class": "status highlight"}).append(
          $("<img />", {
            src: informationImage,
            alt: "Unknown Status"
          })
        ).appendTo(tr);
        
        for (var i=0; i < 5; i++) {
          $("<td />", {"class": "status"}).append(
            $("<img />", {
              src: informationImage,
              alt: "Unknown Status"
            })
          ).appendTo(tr);
        }
        
        $("#service-list").fadeIn('fast', function(){    
          $("#services-body").append(tr);
        });
        
        if (fetchStatuses){
          
          $.ajax({ 
            type: "GET",
            url: "/api/v1/services/" + data.id + "/events/current",
            dataType: 'json', 
            success: function(evt){ 
              $("#" + data.id + " td.highlight img")
                .attr("src", evt.status.image);
              },
            error: function(evt){ 
              }
          });
          
          
          currentDate = new Date(currentNow.getTime() -  86400000);
          var before = $.datepicker.formatDate("yy-m-d", currentDate);
          var url = "/api/v1/services/" + data.id + "/events/calendar";
          url += "?start=" + before + "&days=" + 5;
          
          $.ajax({ 
            type: "GET",
            url: url,
            dataType: 'json', 
            success: function(results){ 
              
              for (var i=0; i < results.days.length; i++) {
                var day = results.days[i];
                var d = new Date(day.date);
                var td = $("#" + data.id).children("td").eq(i+2);
                
                if (day.summary.level != "NORMAL") {
                  url = "/services/" + data.id + "/" + d.getUTCFullYear() + "/";
                  url += (d.getUTCMonth() + 1) + "/" + d.getUTCDate();
                  
                  td.html($("<a />", {href: url}).append(
                    $("<img />",{src: "/images/status/information.png"})));
                    
                } else {
                  td.html($("<img />",{src: day.summary.image}));
                }
              }
              
            },
            error: function(){ 

            },
          });
          
        }

      };
    
      $(document).ready(function(){
        
        $.ajax({ 
          type: "GET",
          url: "/api/v1/services",
          dataType: 'json', 
          success: function(data){ 
            
            var services = data.services;
            
            for (var i=0; i < services.length; i++) {
              createServiceRow(services[i], true);
            }
            
            },
          error: function(){ 
            
            }
          });
        
        $("#statusBox").click(function(){
          if($(this).is(":checked")){
            $("#submit .status").removeAttr('disabled');
          } else {
            $("#submit .status").attr('disabled', 'disabled');
          }
        });
        
        $("#messageBox").click(function(){
          if($(this).is(":checked")){
            $("#submit .message").removeAttr('disabled');
          } else {
            $("#submit .message").attr('disabled', 'disabled');
          }
        });
        
        $("#add-service").click(function(){
          $("#add-service-modal").dialog('open');
        });
        
        
        $("#add-service-modal").dialog({
              height: 310,
              width: 460,
              resizable: false,
              modal: true,
              autoOpen: false,
              buttons: {
                'Create Service': function(){
                  $.ajax({ 
                    type: "POST",
                    url: "/api/v1/services",
                    data: { 
                      name: $("#service-name").val(), 
                      description: $("#service-description").val()
                      },
                    dataType: 'json', 
                    context: $("#service-list"), 
                    success: function(data){ 
                      $("#add-service-modal").dialog('close');
                        createServiceRow(data, false);
                      },
                    error: function(evt){ 
                      $("#add-service-modal").dialog('close');
		      stashboard.error("Could not create service. Make sure Name and Description are valid");
                      }
                    });
                    
                },
                'Cancel': function(){
                  $(this).dialog('close');
                }
              }
        });

      });
    </script>
{% endblock %}

{% block content %}

      <div id="webservices" class="frame">
        
          <table id="service-list">
            <thead>
              <tr>
                <th>Service</th>
                <th class="today">Today</th>
            </thead>

            <tbody id="services-body">
            </tbody>
          </table>
        
        {% if user_is_admin %}
          <a id="add-service" class="button" href="#">Add New Service</a>
        {% endif %}
        
        {% include "_legend.html" %}
        
      </div>
      
      {% if user_is_admin %}
      
      <div class="dialog" id="add-service-modal" title="Add New Service">
        <label  for="service-name">Name</label>
        <input type="text" id="service-name"name="service-name">
        <label for="service-description">Description</label>
        <textarea
          id="service-description" name="service-description"></textarea>
      </div>
      
      {% endif %}
      
      
{% endblock %}

