{% extends "base.html" %}

{% block js_end %}
    <script type="text/javascript">
      $(document).ready(function(){
        var startDate = false;
        var endDate = false;
        var isAdmin = false;
        var service = "{{ service }}";
      
        {% if start_date %}
          var startDate = new Date("{{ start_date_stamp }}");
          var endDate = new Date("{{ end_date_stamp }}");
        {% endif %}
      
        {% if user_is_admin %}
          var isAdmin = true;
        {% endif %}
      
        stashboard.fillService(service, isAdmin, startDate, endDate);
      });
    </script>
{% endblock %}

{% block content %}
        
      <div id="webservices" class="frame">
        
        {% if user_is_admin %}
          <a class="button" id="update-status">
	    Update Status
          </a>
          <a class="button" id="add-note">
	    Add Note
          </a>


        {% endif %}
        
        <h2><span></span></h2>

	<p id="serviceDescription"></p>

        {% if start_date %}        
          <h3 class="date-range">
            {{ start_date|date:"n/j/Y" }}
          </h3>
        {% endif %}      

        <table class="event-log" cellpadding="10">
          <thead>
            <tr>
              <th class="time-header">Time</th>
              <th class="status-header">Status</th>
              <th>Message</th>
              {% if user_is_admin %}
                <th class="delete-header">Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody id="events-tbody">
          </tbody>
        </table>

        {% if user_is_admin %}
          <a class="button" id="delete-service">
            Delete Service
          </a>
          <a class="button" id="edit-service">
            Edit Service
          </a>
        {% endif %}


      </div>
      
      {% if user_is_admin %}
      
      <div class="dialog" id="delete-service-modal" title="Delete Service">
        <p>Are you sure you want to delete this service?</p>
      </div>

      <div class="dialog" id="add-note-modal" title="Add Note">
	<label id="messageLabel" for="message">Message:</label>
	<textarea id="noteMessage" class="update-message" name="message"></textarea>
      </div>

      <div class="dialog" id="add-event-modal" title="Update Status">
	<label id="statusLabel" for="status">Status:</label>
	<select id="statusValue" class="update-status" name="severity"></select>
	<label id="messageLabel" for="message">Message:</label>
	<textarea id="eventMessage" class="update-message" name="message"></textarea>
      </div>

      <div class="dialog" id="edit-service-modal" title="Edit Service">
        <label  for="service-name">Name</label>
        <input type="text" id="service-name" name="service-name">
        <label for="service-description">Description</label>
        <textarea
          id="service-description" name="service-description"></textarea>
      </div>
      
      {% endif %}

{% endblock %}

