{% extends "base.html" %}

{% block js_end %}
    <script type="text/javascript">
      $(document).ready(function(){
        
        var createRow = function(data) {
          var d = new Date(data.timestamp);
          
          var time = $.datepicker.formatDate("MM d, ", d);
          var hour;
          var period; 
          
          if (d.getHours() < 12) {
              if (d.getHours() === 0) {
                  hour = 12;
              } else {
                  hour = d.getHours();
              }
              period = "AM";
          } else if (d.getHours() == 12){
              hour = d.getHours();
              period = "PM";
          } else {
              hour = d.getHours() - 12;
              period = "PM";
          }
          
          if (d.getMinutes() < 10) {
            time += hour + ":0" + d.getMinutes() + period; 
          } else {
            time += hour + ":" + d.getMinutes() + period;
          }

          var tr = $('<tr />');
          
          $('<td />', {text: time}).appendTo(tr);
          
          $('<td />', {"class": "status highlight"}).append(
            $('<img />', {
              src: data.status.image, 
              alt: data.status.name
            })
          ).appendTo(tr);
          
          $('<td />', {text: data.message}).appendTo(tr);

          {% if user_is_admin %}
          
            $('<td />', {"class": "delete"}).append(
              $('<a />', {href: data.url}).append(
                $('<img />', {
                  src: "/images/status/minus-circle.png",
                  alt: "Delete"
                  })
              )
            ).appendTo(tr);
            
          {% endif %}
          
          return tr;
        };
        
        
        $.ajax({
          type: "GET",
          url: "/api/v1/services/{{ service }}",
          dataType: "json",
          success: function(service){
            
            $("h2").text(service.name);
            
            {% if user_is_admin %}
            
            $.ajax({
              type: "GET",
              url: "/api/v1/statuses",
              dataType: "json",
              context: $("#statusValue"),
              success: function(data){

                var statuses = data.statuses;

                for (var i=0; i < statuses.length; i++) {
                  $("<option />", {
                    "name": "severity",
                    val: statuses[i].id,
                    text: statuses[i].name
                  }).appendTo($(this));
                };

              },
              error: function(){

              }
            });
            
            {% endif %}

            $.ajax({ 
              type: "GET",
              url: "/api/v1/services/" + service.id + "/events",
              dataType: "json",
              context: $(".event-log").children('tbody'), 
              success: function(data){

                var events = data.events;
                for (var i=0; i < events.length; i++) {
                  var tr = createRow(events[i]);
                  $(this).append(tr);  
                };

              },
              error: function(){

              }
            });
            
            $("#delete-service").click(function(event){
              $("#delete-service-modal").dialog({
                    resizable: false,
                    modal: true,
                    buttons: {
                      'Delete Service': function(){
                        $.ajax({ 
                          type: "DELETE",
                          url: "/api/v1/services/" + service.id,
                          dataType: 'json', 
                          success: function(data){
                            location.replace("/");  
                          }
                        });
                      },
                      'Cancel': function(){
                        $(this).dialog('close');
                      }
                    }
              });
            });

            $("#add-event").click(function(event){
              event.preventDefault();

              $.ajax({ 
                type: "POST",
                url: "/api/v1/services/" + service.id + "/events",
                data: {
                  status: $("#statusValue").val(),
                  message: $("#messageValue").val(),
                },
                dataType: "json",
                context: $(".event-log").children('tbody'), 
                success: function(data){
                    var tr = createRow(data);
                    $(this).prepend(tr);
                  },
                error: function(){
                  },
                });
            });
            
          },
          error: function(){
            
          }
        });
        
        $("td.delete a").live('click', function(event){
          event.preventDefault();
          $.ajax({ 
            type: "DELETE",
            data: {},
            url: $(this).attr("href"), 
            context: $(this).parent().parent(), 
            success: function(){
                  $(this).fadeOut('fast', function(){
                    $(this).remove();
                  });
                },
            error: function(){
                
                },
            });
        });
      });
    </script>
{% endblock %}

{% block content %}
        
      <div id="webservices" class="frame">
        
        {% if user_is_admin %}
          <a class="button" id="delete-service">
            Delete Service
          </a>
        {% endif %}
        
        <h2></h2>
        
        <h3 class="date-range">
          {% if start_date %}
            {{ start_date|date:"n/j/Y"  }}
          {% endif %}

          {% if end_date %}
             - {{ end_date|date:"n/j/Y"  }}
          {% endif %}
        </h3>
        
        {% if user_is_admin %}
        <div id="submit">
            <label id="statusLabel" for="status">Status:</label>
            <select id="statusValue" class="update-status" name="severity">
            </select>
            <label id="messageLabel" for="message">Message:</label>
            <textarea id="messageValue" class="update-message" name="message"></textarea>

            <a id="add-event" class="button update-submit" href="#">
              Add New Event
            </a>
        </div>
        {% endif %}
        
        <table class="event-log" cellpadding="10">
          <thead>
            <tr>
              <th class="time-header">Time</th>
              <th class="status-header">Status</th>
              <th>Message</th>
              {% if user_is_admin %}
                <th class="delete-header">Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody id="events-tbody">
          </tbody>
        </table>
      </div>
      
      {% if user_is_admin %}
      
      <div id="delete-service-modal" title="Delete New Service">
        <p>Are you sure you want to delete this service?</p>
      </div>

      {% endif %}

{% endblock %}

