{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block content %}
        
      <div id="services">
        <h2>{{ service.name }}</h2>
        
        {% if not foo %}
        <div id="submit">
          <h3>Update {{service.name}} Status</h3>
          <form method="post">
            <label id="statusLabel" for="status">Status:</label>
            <select class="update-status" name="severity">
              {% for status in statuses %}
                <option selected  value="{{ status.key }}">{{ status.name|capfirst }}</option>
              {% endfor %}
            </select>
            <label id="messageLabel" for="message">Message:</label>
            <textarea class="update-message" name="message"></textarea>

            <input class="update-submit" type="submit" 
              value="Update Status"></input>
          </form>
        </div>
        {% endif %}
        
        <table class="event-log" cellpadding="10">
          <thead>
            <tr>
              <th class="time-header">Time</th>
              <th class="status-header">Status</th>
              <th>Message</th>
              {% if user_is_admin %}
                <th><a id="deletebtn" href="#">Delete</a></th>
              {% endif %}
            </tr>
          </thead>
          {% for event in events %}
            <tr>
                <td>{{ event.start|date:"N j, fA"  }}</td>
                <td class="status highlight">
            <img src="/images/status/{{ service.current_event.status.image}}"
                    alt="{{ service.current_event.name }}"/>
                </td>
                <td>{{ event.message }}</td>
                
                {% if user_is_admin %}
                  <td><a id="deletebtn" href="#">Delete</a></td>
                {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>

{% endblock %}

