{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
{% endblock %}

{% block content %}
<nav>
  <ul>
    <li {% if services_selected %} class="selected" {% endif %}>
      <a href="/admin/services">Services</a></li>

    <li {% if lists_selected %} class="selected" {% endif %}>
      <a href="/admin/service-lists">Service Lists</a></li>

    <li {% if statuses_selected %} class="selected" {% endif %}>
      <a href="/admin/statuses">Statuses</a></li>

    <li {% if credentials_selected %} class="selected" {% endif %}>
      <a href="/admin/credentials">Credentials</a></li>

  </ul>
</nav>

{% block section %}

{% endblock %}

{% endblock %}
