{% extends "admin/admin.html" %}

{% block section%}
<section id="oauth" class="admin">
  <h1>OAuth Credentials</h1>

  <img src="/images/oauth_logo.jpg" alt="OAuth Logo" />

  <div>

  <table>
    <tr>
      <td>Consumer Key:</td>
      <td>{{ consumer_key }}</td>
    </tr>

    <tr>
      <td>Consumer Secret:</td>
      <td>{{ consumer_secret }}</td>
    </tr>

    {% if authorized %}

    <tr>
      <td>OAuth Token:</td>
      <td>{{ oauth_token }}</td>
    </tr>

    <tr>
      <td>OAuth Token Secret:</td>
      <td>{{ oauth_token_secret }}</td>
    </tr>

    {% endif %}

  </table>

  {% if not authorized %}

  <p>
    <span>You haven't authorized your account with StashBoard</span>
    <a href="/admin/oauth/authorize" class="primary big button pill">Authorize Now</a>
  </p>

  {% endif %}

  <div>

</section>

{% endblock %}
