{% extends "admin/admin.html" %}

{% block section %}
<form class="admin" action="/admin/api/v1/services/{{service.slug}}/events" method="post">

  <h1>Add Note on {{ service.name }}</h1>

  <div class="error">{{ error }}</div>

  <input type="hidden" name="informational" value="true"/>

  <dl class="form">
    <dt><label for="message">Message</label></dt>
    <dd><textarea id="message" name="message" size="30" type="text">{{description}}</textarea></dd>
    {% if twitter_handle %}
    <dd><input type="checkbox" name="tweet" id="tweet"/><label for="tweet">Tweet this update to <span class="twitter_handle">@{{twitter_handle}}</span></label></dd>
    {% endif %}
  </dl>


  <link rel="redirect" href="/admin/services/{{service.slug}}" />

  <button type="submit" class="button pill big primary">
    Update Status
  </button>

</form>
{% endblock %}
