{% extends "admin/admin.html" %}

{% block section %}


<form class="admin" action="{{ url }}" method="post">

  <h1>{{ action|title }} a Service List</h1>

  <div class="error">{{ error }}</div>

  <dl class="form">
    <dt><label for="name">Name</label></dt>
    <dd><input id="name" name="name" size="30" type="text" value="{{name}}"></dd>
    <dt><label for="description">Description</label></dt>
    <dd><textarea id="description" name="description" size="30" type="text">{{description}}</textarea></dd>
  </dl>

  {% if slug %}
  <link rel="redirect" href="/admin/service-lists/{{slug}}">
  {% else %}
  <link rel="redirect" href="/admin/service-lists">
  {% endif%}

  <button type="submit" class="button pill big primary">
    {{ action|title }}
  </button>

</form>
{% endblock %}
