{% extends "admin/admin.html" %}

{% block section %}

<h1>Service Lists</h1>

<ul class="admin">
    {% for list in lists %}
    <li>
      <span class="name">{{ list.name }}</span>
      <a class="button danger icon trash" href="/admin/service-lists/{{ list.slug }}/delete">Delete</a>
      <a class="button icon edit" href="/admin/service-lists/{{ list.slug }}/edit">Edit</a>
    </li>
    {% endfor %}
</ul>

<a id="create" href="/admin/service-lists/create" class="button pill big primary">
  Create a Service List
</a>

{% endblock %}
