{% extends "admin/admin.html" %}

{% block section %}


<form class="admin" action="{{ url }}" method="post">

  <h1>{{ action|title }} a Service</h1>

  <div class="error">{{ error }}</div>

  <dl class="form">
    <dt><label for="name">Service Name</label></dt>
    <dd><input id="name" name="name" size="30" type="text" value="{{name}}"></dd>
    {% if service_lists %}
    <dt><label for="list">Service List (optional)</label></dt>
    <dd>
      <select id="list" name="list">
        {% for slist in service_lists %}
        {% if slist.name == list %}
        <option value="{{slist.slug}}" selected="selected">{{ slist.name }}</option>
        {% else %}
        <option value="{{slist.slug}}">{{ slist.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </dd>
    {% endif %}
    <dt><label for="description">Service Description</label></dt>
    <dd><textarea id="description" name="description" size="30" type="text">{{description}}</textarea></dd>
  </dl>

  {% if slug %}
  <link rel="redirect" href="/admin/services/{{slug}}" />
  {% else %}
  <link rel="redirect" href="/admin/services" />
  {% endif%}

  <button type="submit" class="button pill big primary">
    {{ action|title }}
  </button>

</form>
{% endblock %}
