{% extends "admin/admin.html" %}

{% block section %}

<h1>Services</h1>

<ul class="admin">
    {% for service in services %}
    <li>
	<a class="name" href="/admin/services/{{ service.slug }}">{{ service.name }}</a>
	<a class="button danger icon trash" href="/admin/services/{{ service.slug }}/delete">Delete</a>
	<a class="button icon edit" href="/admin/services/{{ service.slug }}/edit">Edit</a>
    </li>
    {% endfor %}
</ul>

<a id="create" href="/admin/services/create" class="button pill big primary">
  Create a Service
</a>

{% endblock %}
