<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="/css/jqueryui.css" type="text/css" media="screen" />    
  <!--[if lt IE 9]>
  <script>
    var e = ("abbr,article,aside,audio,canvas,datalist,details," +
      "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
      "progress,section,time,video").split(',');
    for (var i = 0; i < e.length; i++) {
      document.createElement(e[i]);
    }
  </script>
  <![endif]-->
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <img id="logo" src="/images/logo.png" alt="Logo"/>
        <a href="/"><h1 id="title">{{ title }}</h1></a>
      </div>
      <div id="content">
        {% block content %}
          
        {% endblock %}
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <ul class="left">
        <li>
          {% if user %}
            <a href="{{ login_link }}">Logout</a>
          {% else %}
            <a href="{{ login_link }}">Login</a>
          {% endif %}
        </li>
	<li>-</li>
	<li>
	  <a href="/documentation/overview">
	    API Documentation
	  </a>
	</li>
        <li>-</li>
        <li>Copyright (c) {% now "Y" %} <a href="http://www.twilio.com">Twilio Inc.</a></li>
        <li>-</li>
       <li id="icons">Icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a></li>
      </ul>
      <ul class="right">
	<li id="powered"><a href="http://www.stashboard.org">POWERED BY <img src="/images/poweredbystash.png" alt="stash!" /> STASHBOARD</a></li>
       </ul>
     </div>
    {% block js_end %}
    {% endblock %}
  </body>
</html>
