{% extends "base.html" %}

{% block content %}
        
      <div id="webservices" class="frame">
        
        <h2>{{ service.name }}</h2>

	<p id="serviceDescription">{{ service.description }}</p>
        
        <h3 class="date-range">
          {% if start_date %}
            {{ start_date|date:"n/j/Y"  }}
          {% endif %}
        </h3>
        
        <table class="event-log" cellpadding="10">
          <thead>
            <tr>
              <th class="time-header">Time</th>
              <th class="status-header">Status</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody id="events-tbody">
            {% for e in events %}
              <tr>
                <td>{{ e.start|date:"N j, fA" }}</td>
                <td class="status highlight">
                  <img src="/images/status/{{ e.status.image }}.png" alt="{{ e.status.name }}">
                </td>
                <td>{{ e.message }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
{% endblock %}

