<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/gh-buttons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css" media="screen" />
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="actions button-container">
          <a href="/rss" class="button pill big" title="Subscribe to the RSS feed">
            <i class="icon-rss"></i> Feeds
          </a>
          {% if admin %}
          <a class="button pill big" href="/admin">Admin</a>
          {% endif %}
          <a href="{{ report_url }}" class="button pill big">
            <i class="icon-exclamation-sign"></i> Report an Issue</a>
        </div>
        <img id="logo" src="/images/logo.png" alt="Logo"/>
        <a href="/"><h1 id="title">{{ title }}</h1></a>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <ul class="left">
        <li>
          {% if user %}
          <a href="{{ logout_url }}">Logout</a>
          {% else %}
          <a href="/admin">Admin</a>
        </li>
        {% endif %}
        <li>
          <a href="/documentation">API</a>
        </li>
        <li>&copy; 2010-{% now "Y" %} <a href="http://www.twilio.com">Twilio Inc.</a></li>
      </ul>
      <ul class="right">
        <li id="powered"><a href="http://www.stashboard.org">POWERED BY <img src="/images/poweredbystash.png" alt="stash!" /> STASHBOARD</a></li>
      </ul>
    </div>
    {% block js_end %}
    {% endblock %}
  </body>
</html>
