{% extends "base.html" %}
{% block title %} API {% endblock %}
{% block js %}
<link rel="stylesheet" href="/css/prettify.css" type="text/css" media="screen" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/prettify.js"></script>
{% endblock %}

{% block content %}
<nav>
  <ul>
    <li {% if selected == "overview" %} class="selected" {% endif %}>
      <a href="/documentation">API Overview</a></li>
    <li {% if selected == "services" %} class="selected" {% endif %}>
      <a href="/documentation/services">Services</a></li>
    <li {% if selected == "service-lists" %} class="selected" {% endif %}>
      <a href="/documentation/service-lists">Service Lists</a></li>
    <li {% if selected == "events" %} class="selected" {% endif %}>
      <a href="/documentation/events">Events</a></li>
    <li {% if selected == "statuses" %} class="selected" {% endif %}>
      <a href="/documentation/statuses">Statuses</a></li>
    <li {% if selected == "status-images" %} class="selected" {% endif %}>
      <a href="/documentation/status-images">Status Images</a></li>
  </ul>
</nav>

<div class="frame" id="documentation">

  {% block document %}
  {% endblock %}

  <script type="text/javascript">
    $("code").addClass("prettyprint");
    prettyPrint();
  </script>

</div>
{% endblock %}
