{% extends "base.html" %}

{% block content %}
<table id="service-list">
  <thead>
    <tr>
      <th>Service</th>
      <th class="today">Current</th>
      {% for day in days %}
      <th> {{ day|date:"N d" }} </th>
      {% endfor %}
  </thead>

  <tbody id="services-body">
    {% for service in services %}
    <tr id="{{ service.slug}}">
      <td>
	<a href="{{ service.url }}">{{ service.name }}</a>
      </td>
      <td class="status highlight">
      </td>
      {% for day in days %}
      <td class="status">
      </td>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

{% include "_legend.html" %}

{% endblock %}
