{% extends "base.html" %}

{% block first_column %}
    <div id="mainCol" class="fix"><a name="main"></a>
        <div class="post">
            <div class="postMeta"><span class="date">Page Not Found</span></div>
            <h2>Nobody Here But Us Chickens!</h2>
            <div class="entry">
                <p>Sorry, the page you tried to access isn't available.</p>
                <p>I realize this message is little consolation, but you could try:</p>
                <ul>
                    <li>the search box on the right</li>
                    <li>the ARCHIVES on the menu bar just above</li>
                    <li>one of the Categories links to the right</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
