{% extends "base.html" %}

{% block content %}

  <div class="frame" id="profile">

    <h2>Profile</h2>

    {% if user_is_authorized %}
  
      <h3>API Credentials<h3>
          
      <table>
        <tr>
          <td>Consumer Key:</td>
          <td>{{ consumer_key }}</td>
        </tr>
    
        <tr>
          <td>OAuth Token:</td>
          <td>{{ profile.token }}</td>
        </tr>
    
        <tr>
          <td>OAuth Token Secret:</td>
          <td>{{ profile.secret }}</td>
        </tr>
      </table>
    
    {% else %}
  
      {% if oauth_url %}
    
        <div>
          You need to authorize

          <a href="{{ oauth_url }}">Authorize</a>
        </div>
      
      {% else %}
  
        <div>
          Authorization Service could not be reached
        </div>
    
      {% endif %}
  
    {% endif %}

  </div>

{% endblock %}