{% extends "base.html" %}

{% block content %}

      <div id="webservices" class="frame">
        
          <table id="service-list">
            <thead>
              <tr>
                <th>Service</th>
                <th class="today">Current</th>
              
                {% for day in past %}
                  <th class="date">{{ day|date:"N j" }}</th>
                {% endfor %}

            </thead>

            <tbody id="services-body">
              {% for service in services %}
                <tr>
                  <td>
                    <a href="/services/{{ service.slug }}">
                      {{ service.name }} </a>
                  </td>
                  
                  <td class="status highlight">
		    <a href="/services/{{ service.slug }}">
		    {% if service.current_event.status %}
                    <img src="/images/status/{{ service.current_event.status.image }}.png"
                      alt="{{ service.current_event.name }}"/>
		    {% else %}
                    <img src="/images/status/{{ default.image }}.png"
                      alt="{{ default.name }}"/>
		    {% endif %}
		    </a>
                  </td>
                  
                  {% for status in service.last_five_days %}
                    <td class="status">
                      <a href="/services/{{service.slug}}/{{ status.day|date:"Y/n/j" }}">
                      <img src="/images/status/{{ status.image }}.png"
                        alt="{{ status.image }}"/>
		      </a>
                    </td>
                  {% endfor %}
                      
                </tr>
                
              {% endfor %}
              
            </tbody>
          </table>
        
        {% include "_legend.html" %}
        
      </div>
      
{% endblock %}

