<div class="legend" id="legend">
  <h4> Legend </h4>
  <table>
    {% if user_is_admin %}
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Level</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% endif %}
    
    <tbody id="legend-body">
    </tbody>
  </table>
  
  {% if user_is_admin %}
    <a id="add-status" class="button" href="#">Add New Status</a>
    
    <div id="add-status-modal" class="dialog" title="Add New Status">
      <label class="side-label" for="status-name">Name</label>
      <input type="text" id="status-name"name="status-name">
      
      <label class="side-label" for="status-level">Level</label>
      <select id="statusLevel" class="status-level" name="level">
      </select>
      
      <label for="status-image">Image</label>
      {% for image_row in common_statuses %}
        <div>
        {% for image in image_row %}
        
        <input type="radio" name="status-image" value="{{ image }}">
        <img src="/images/status/{{ image }}.png" />
        {% endfor %}
        </div>
        
      {% endfor %}

      <label for="status-description">Description</label>
      <textarea
        id="status-description" name="status-description"></textarea>
    </div>

    <div class="dialog" id="delete-status-modal" title="Delete Status">
      <p>Are you sure you want to delete this status? ALL EVENTS with this status will also be deleted</p>
    </div>

  {% endif %}
  
  <script type="text/javascript">
    $(document).ready(function(){
      {% if user_is_admin %}
        stashboard.fillLegend(true);
      {% else %}
        stashboard.fillLegend(false);
      {% endif %}
    });
  </script>
</div>
