{% extends "documentation.html" %}
{% block document %}
<div id="overview"
><h2
  >Overview</h2
  ><p
  >Hello, and welcome to StashBoard, the open-source status dashboard. StashBoard's REST API allows users to programmatically update and manage web service status.</p
  ><p
  >This document will only cover the basics of the StashBoard. See the <a href="/documentation/rest"
    >REST API section</a
    > for full documentation.</p
  ><div id="basics"
  ><h3
    >Basics</h3
    ><p
    >The StashBoard REST API is broken down into three resources: Services, Events, and Statuses.</p
    ><div id="services"
    ><h4
      >Services</h4
      ><p
      >Services are the basic unit of StashBoard. A service is any web service that can be consumed, and more importantly, can fail. Using StashBoard, you can easily inform your users of the current service status. To handle system status, StashBoard uses the concept of events.</p
      ><p
      >Read more about creating and modifying services in the <a href="/documentation/rest#status-list-resource"
	>Status Resource section</a
	> of the REST API documentation.</p
      ></div
    ><div id="events"
    ><h4
      >Events</h4
      ><p
      >A service has a list of events, listed in reverse chronological order, which represent the state of that service. To track the state of a web service, an administrator creates events for a given service.</p
      ><p
      >For example, if a service is currently down, create an event with a &quot;DOWN&quot; status, explaining why the service isn't working. Once the service is up again, simply create a new event with an attached &quot;UP&quot; status.</p
      ><p
      >Read more about creating and modifying events in the <a href="/documentation/rest#events-list-resource"
	>Events Resource section</a
	> of the REST API documentation.</p
      ></div
    ><div id="statuses"
    ><h4
      >Statuses</h4
      ><p
      >A status represents the state of a web service. Instead of being directly attached to services, a status is attached to a service event (described above). Therefore, the current system status is simply the status attached to the most recent event.</p
      ><p
      >Read more about creating and modifying statuses in the <a href="/documentation/rest#status-list-resource"
	>Status Resource section</a
	> of the REST API documentation.</p
      ></div
    ></div
  ><div id="authentication"
  ><h3
    >Authentication</h3
    ><p
    >To access information through the REST API, no authentication is required. However, to change any information via the REST API (POST/PUT/DELETE), authentication and SSL are required.</p
    ><p
    >StashBoard uses OAuth for authentication purposes. To authenticate your account and obtain your API keys, head over to the <a href="/documentation/credentials"
      >API Credentials section</a
      >.</p
    ></div
  ></div
>

{% endblock %}
